# PYTHON
## PYTHON
### PYTHON
#### PYTHON
##### PYTHON
###### PYTHON
####### PYTHON

# PYTHON
  - DAY1
  - DAY2
      - TOPIC
      - **subpoint**
      - *subpoint*
      - ***subpoint***

### python introduction
- python 3
- python can be used as functional programming
- python can be used as scripting programming
- python initially designed by **Guido Van Rossum** in 1991

In [2]:
# Input and Output function
# output function
print("hello world")
print("welcome to python programming")

hello world
welcome to python programming

In [4]:
print("markdown cell",end = ' ')
print("code cell")

markdown cell code cell

In [5]:
# input function
print("enter your name:")
a=input(' ')
print("your name is=",a)

enter your name:
 akhila
your name is= akhila

#### variables are also called as identifiers
#### variable name always starts with alphabets
#### does not start with any special char except_
#### does not start with digit

In [6]:
x=10
type(x)

int

In [7]:
y=12
x+y

22

### fundamental data types in python:
#### int
#### float
#### complex
#### boolean
#### string

In [9]:
x=10
y=15.5
print(x+y)

25.5

In [11]:
c= 2+2j
type(c)
d= 3+3j
print(c+d)
# when multiple lines are given in a cell only last line output will be displayed

(5+5j)

In [14]:
# type casting
a=15.6
print(int(a))
print(complex(a))

15
(15.6+0j)

In [15]:
complex(3,4)

(3+4j)

### boolean datatype
#### true
#### false

In [21]:
b=False
type(b)

bool

In [33]:
# string
a="python"
b='p'
c="100"
print(type(a))
print(type(b))
print(type(c))
x=int(c)
y=float(c)
print(c)
print(type(x))
print(type(y))
print(y)
z=bool(c)
print(type(z))
print(z)

<class 'str'>
<class 'str'>
<class 'str'>
100
<class 'int'>
<class 'float'>
100.0
<class 'bool'>
True

In [35]:
a='1234'
len(a)
#int doesn't have function len()

4

In [36]:
a=1234
len(str(a))
# converts int into string and counts no of digits

4

# operators
### Arithmetic  operators
    - +,-,*,/,%,//(floor division,removes decimal part),**(exponent)

In [37]:
123/8

15.375

In [38]:
123//6

20

In [39]:
3**3

27

In [40]:
a=20
b=30
c=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**c)

50
-10
600
0.6666666666666666
20
0
400

## logical  operators
   - and,or,not

In [46]:
x=12
y=5
print(x>10 and y<10)
print(x>10 or y>10)
print(not x<20)
print(not x)
print(not z)

True
True
False
False
True

### relational operators
   - <,>,<=,>=,==,!=

In [47]:
a=9
b=12
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
True
False
False
True

### membership operator
   - in,not in

In [51]:
a="Python"
print('p' in a)
print('P' in a)
print('tho' in a)
print('tho' not in a)
print('not' not in a)

False
True
True
False
True

## conditional statements
#### if(single condition)
#### if else(two conditions)
#### elif(multiple conditions)

## syntax
#### if condition 
  - statements

In [55]:

b=input("enter a number")
a=int(input("enter a number"))
print(type(a))
print(type(b))

enter a number12
enter a number13
<class 'int'>
<class 'str'>

In [63]:
# to ckeck even or odd
a=int(input("enter a number"))
if a%2==0:
    print("even")

enter a number13

In [65]:
# if-else
a=int(input("enter a number"))
if a%2==0:
    print("even")
else:
    print("odd")

enter a number13
odd

In [68]:
# check if a number is div by 3 and 5
a=int(input("enter a number"))
if a%3==0 and a%5==0:
    print("num is div by both 3 and 5")
else:
    print("num is not div by both 3 and 5")

enter a number30
num is div by both 3 and 5

In [71]:
# number is positive or negative or 0
a=int(input("enter a number"))
if a>0:
    print("number is positive")
elif a<0:
    print("number is negative")
else:
    print("number is 0")

enter a number0
number is 0

In [76]:
# to check leap year
a=int(input("enter a year"))
if a%4==0:
    print("leap year")
else:
    print("not a leap year")

enter a year2000
leap year

### looping statements
##### while  loop
##### for loop

# syntax:
   while condition
    stmts

In [3]:
# print nums  from 1 to n
n=int(input("enter a number"))
i=1
while i<=n:
    print(i)
    i=i+1

enter a number10
1
2
3
4
5
6
7
8
9
10